.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/92bb3a0b-7e91-40a0-b27b-f2c3ac9ef6e4/e5ec44e4-e644-46e2-9b1c-d22362dfc751/CU-es-20210322-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat;
  background-size: cover;
}

.loginScreen_button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.loginScreen_gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen_logo {
  position: fixed;
  width: 150px;
  left: 0;
  padding-left: 20px;
  object-fit: contain;
}

.loginScreen_body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen_body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen_body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen_body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  padding: 20px;
  color: #fff;
  left: 0;
  right: 0;
}

.loginScreen_input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen_input {
  padding: 20px;
}

.loginScreen_getStarted {
  padding: 16px 20px 17px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #e50914;
  border: none;
}
